@import "variables";
@import "~bootstrap/dist/css/bootstrap.css";

body {
  color: $color-base;
  font-size: 0.875rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none !important;
}

.container {
  // width: 80%;
}